:root{
    --background: #E8E5E4;
    --white :#FBFBFB;
    --primary: #B47150;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

html{
    padding: 2.25rem 5.19rem 11.56rem 5.38rem;
    border: 1px solid var(--background);
    background: var(--white);
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9.06rem;
    gap:25rem;
}

.navbar a{
    display: flex;
    align-items:center ;
    color: #000;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: normal;

}