section{
    display: block;
    text-align: center;
}

h1, h2{
    text-align: center;
    font-size: 36px;
    padding: 10px 0px 20px;
}

.texto-principal{
    text-align: justify;
    font-size: 18px;
    padding: 20px 60px;
}

table{
    margin: auto;
    font-size: 18px;
}